.quasar
.DS_Store
.thumbs.db
node_modules
/dist
/stitch/hosting/files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
/src/statics/app-logo-*.png
/src/statics/icons
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.quasar.env.json