// app global css in Sass form

.unselectable
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
.text-underline
  text-decoration: underline
.q-btn-toggle
  border-width: 1px
  border-style: solid
  .q-btn .q-icon
    margin-left: 6px
    margin-right: 6px
    font-size: 1.5em
.q-card__section+.q-card__section
  padding-top: 0
.q-stepper__step
  counter-reset: section
.dense-avatar .q-item__section--avatar
  min-width: inherit
.problem-classification, .problem-rating, .intervention
  h6
    margin: 1.5em 0 .5em
    &:first-child
      margin-top: 0
    &.counter:before
      counter-increment: section
      content: counter(section) ". "
.intervention
  .editable-intervention
    counter-reset: intervention
  .counter
    margin: 0.75em 0 0em
  .counter:before
    counter-increment: intervention
    content: counter(intervention) ". "
.column-2
  column-count: 2
  column-gap: 2em
  @media screen and (max-width: $breakpoint-xs-max)
    column-count: 1
.column-2-sm
  column-count: 2
  column-gap: 2em
  @media screen and (max-width: $breakpoint-sm-max)
    column-count: 1
.column-3
  column-count: 3
  column-gap: 2em
  @media screen and (max-width: $breakpoint-xs-max)
    column-count: 1
.no-column-break
  -webkit-column-break-inside: avoid // Chrome, Safari
  page-break-inside: avoid // Theoretically FF 20+
  break-inside: avoid-column // IE 11
.text-classification
  color: var(--q-color-classification)
.bg-classification
  background-color: var(--q-color-classification)
.bg-classification-light
  background-color: scale-color($classification, $lightness: 97%)
  // background-image: linear-gradient(scale-color($classification, $lightness: 98%), scale-color($classification, $lightness: 94%))
.text-outcome
  color: var(--q-color-outcome)
.bg-outcome
  background-color: var(--q-color-outcome)
.text-intervention
  color: var(--q-color-intervention)
.bg-intervention
  background-color: var(--q-color-intervention)
  background-image: linear-gradient(scale-color($intervention, $lightness: 25%), $intervention)
.bg-intervention-light
  background-color: scale-color($intervention, $lightness: 97%)
  // background-image: linear-gradient(scale-color($intervention, $lightness: 98%), scale-color($intervention, $lightness: 94%))
.bg-primary
  background-image: linear-gradient(scale-color($primary, $lightness: 8%), $primary) !important
.border-primary
  border-color: var(--q-color-primary)
.radius-xs
  border-radius: 4px
.radius-sm
  border-radius: 8px
.radius-md
  border-radius: 12px
.radius-lg
  border-radius: 16px
.line-height-11
  line-height: 1.1rem
.line-height-12
  line-height: 1.2rem
.line-height-15
  line-height: 1.5rem
.q-tab
  @media screen and (max-width: $breakpoint-xs-max)
    padding: 0 4px
.q-field--standard .q-field--borderless .q-field__control:before
  border-color: transparent
.limit-page-width
  max-width: 1600px
  margin-left: auto
  margin-right: auto
.min-height
  min-height: 95vh
.link
  cursor: pointer
  &:hover
    text-decoration: underline
.no-bullet
  list-style-type: none
  margin: 0
  padding: 0
.signature
  border-radius: 50%
  padding: 0 2px 0 0
  text-align: center
  line-height: 2em
  width: 2em
  height: 2em
  font-weight: 500
  font-style: italic
  span
    font-size: 80%
.no-bottom-border-radius
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0
.one-line
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
