// app global css in Sass form

.unselectable
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
.text-underline
  text-decoration: underline
.q-btn-toggle
  border-width: 1px
  border-style: solid
  .q-btn .q-icon
    margin-left: 6px
    margin-right: 6px
    font-size: 1.5em
.q-card__section+.q-card__section
  padding-top: 0
.q-stepper__step
  counter-reset: section
.dense-avatar .q-item__section--avatar
  min-width: inherit
.problem-classification, .problem-rating, .intervention
  h6
    margin: 1.5em 0 .5em
    &:first-child
      margin-top: 0
    &.counter:before
      counter-increment: section
      content: counter(section) ". "
.intervention
  .editable-intervention
    counter-reset: intervention
  .counter
    margin: 0.75em 0 0em
  .counter:before
    counter-increment: intervention
    content: counter(intervention) ". "
.column-2
  column-count: 2
  column-gap: 2em
  @media screen and (max-width: $breakpoint-xs-max)
    column-count: 1
.column-2-sm
  column-count: 2
  column-gap: 2em
  @media screen and (max-width: $breakpoint-sm-max)
    column-count: 1
.column-3
  column-count: 3
  column-gap: 2em
  @media screen and (max-width: $breakpoint-xs-max)
    column-count: 1
.no-column-break
  -webkit-column-break-inside: avoid // Chrome, Safari
  page-break-inside: avoid // Theoretically FF 20+
  break-inside: avoid-column // IE 11
.text-classification
  color: $classification
  color: var(--q-color-classification)
.bg-classification
  background: $classification
  background: var(--q-color-classification)
.text-outcome
  color: $outcome
  color: var(--q-color-outcome)
.bg-outcome
  background: $outcome
  background: var(--q-color-outcome)
.text-intervention
  color: $intervention
  color: var(--q-color-intervention)
.bg-intervention
  background: $intervention
  background: var(--q-color-intervention)
.border-primary
  border-color: $primary
  border-color: var(--q-color-primary)
.radius-xs
  border-radius: 4px
.radius-sm
  border-radius: 8px
.radius-md
  border-radius: 12px
.radius-lg
  border-radius: 16px
.q-tab
  @media screen and (max-width: $breakpoint-xs-max)
    padding: 0 4px
